/* General / Top Level Styling for webpage */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


:root {
    --dark-bg-color: #ffffff; /* Define dark background color variable */
    --text-color: black; /* Define text color variable */
    --border-color: rgb(153, 153, 153);
    --hover-color: #ab7ce0;
    --hover-color2: #6bbfd8bb;
    --pub-title: #03030398;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--dark-bg-color); /* Dark gray background for dark mode */
    color: var(--text-color);
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(88, 88, 88)
}

/* Transition and links */
a, .btn {
    transition: all 300ms ease;
}

/* Webpage Navigation */
nav, .nav-links {
    display: flex;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

nav > div {
    margin-left: auto;
    margin-right: 80px;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    z-index: 99;
    position: relative;
}


a {
    color: var(--text-color);
    text-decoration: none;
    text-decoration-color: var(--text-color);
}
a:hover { 
    color: var(--hover-color);
}

.logo {
    font-size: 2rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}

.logo:hover {
    color: var(--hover-color);
}

/* Hamburger Menu Styling (for mobile compliance) */
#hamburger-nav {
 display: none;   
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    transition: all 0.3 ease-in-out;
}


.menu-links {
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: var(--dark-bg-color);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hambuger-icon span:first-child {
    transform: none;
}

.hambuger-icon span:first-child {
    opacity: 1;
}

.hambuger-icon span:first-child {
    transform: none;
}

.fa {
    padding: 10px;
    font-size: 50px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    cursor: pointer;
  }

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* PROFILE ID SECTION */
#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 20vh;
}

.section__pic-container {
    display: block;
    height: 300px;
    width: 300px;
    margin: auto 0;
    transform: translateY(80px);
}

.section__pic-container img{
    height: 300px;
    width: 300px;
}

.section__pic-container2 {
    display: block;
    height: 300px;
    width: 300px;
    margin: auto 0;
    transform: translateY(-80px);
}

.section__pic-container2 img{
    height: 300px;
    width: 300px;
}


.section__text {
    align-self: center;
    text-align: center;
    margin-top: 17vh;; 
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.section__text__p1 {
    position: relative;
    text-align: left; /* Aligns children vertically centered */
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 600;
    padding-top: 180px;
}

.section__text__p2 {
    text-align: left; /* Aligns children vertically centered */
    font-weight: 500;
    color: var(--text-color);
    line-height: 1.75;
}

.section__text__p3 {
    text-align: left; /* Aligns children vertically centered */
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 600;
}

.news__container {
    text-align: left; /* Aligns children vertically centered */
    margin-bottom: 20px
}

.text-socials-container {
    display: flex;
    flex-direction: column; /* This stacks its children vertically */
    justify-content: center; /* Aligns children vertically centered */
    padding-top: 100px;
}

.section__text__p2 a {
    color: var(--hover-color); /* Your custom font color */
    font-weight: 600;
}

.section__text__p2 a:hover {
    color: var(--hover-color2);
}

#research-preview {
    display: flex;
    justify-content: center;
    text-align: left;
}

.research__pic-container {
    display: flex;
    margin: auto 0;
    align-items: center;
    justify-content: center;
}

.research__pic-container img {
    max-width: 120%; /* Image will take up maximum of its container's width */
    max-height: 220px; /* Example height limit */
}

.cv_container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}

.cv_container p {
    color: var(--text-color);
    margin-bottom: 20px; 
}

.cv_container a {
    color: var(--hover-color);
    margin-bottom: 20px; 
}

.cv_container a:hover {
    color: var(--hover-color2);
    margin-bottom: 20px; 
}

.cv_container embed {
    width: 55%; 
    max-width: 100%; 
    height: 600px; 
}

.publication-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: flex-start; /* Start from the top */
    height: auto; /* Set height to auto to adjust dynamically based on content */
    max-height: 100vh; /* Set a maximum height to prevent container from taking over the entire viewport */
    padding: 20px; /* Add some padding to prevent content from touching the edges */
}


.publication {
    position: relative;
    border: 2px solid var(--border-color);
    margin-bottom: 20px;
    padding: 10px;
    width: 850px;
    height: 200px;
    display: flex;
    align-items: center;
    
}
.publication img {
    position: relative;
    width: 200px;
    height: 200px;
    margin-right: 20px;
}
.publication-content {
    flex-grow: 1; 
    align-self: flex-start;
    padding: 10px;
}

.publication-content .pub-title {
    color: var(--pub-title);
    
}

.year-divider {
    text-align: right;
    font-size: 24px;
    opacity: 0.8;
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.download-buttons-container {
    display: flex;
    position: absolute;
    bottom: calc(0% + 10px); /* Position it just below the publication content */
    left: calc(0% + 235px);
    gap: 10px; /* Adjust the space between the buttons */
}

.download-button {
    display: flex;
    margin-top: 10px;
    padding: 8px 16px;
    border: 2px solid var(--hover-color); /* Blue outline */
    border-radius: 20px; /* Rounded corners */
    background-color: transparent; /* Transparent background */
    color: var(--hover-color); /* Blue text color */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.redirect-button {
    display: flex;
    margin-top: 10px;
    padding: 8px 16px;
    border: 2px solid var(--hover-color); /* Blue outline */
    border-radius: 20px; /* Rounded corners */
    background-color: transparent; /* Transparent background */
    color: var(--hover-color); /* Blue text color */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.download-button:hover {
    color: var(--hover-color2); /* Blue background on hover */
    border: 2px solid var(--hover-color2);
}

.redirect-button:hover {
    color: var(--hover-color2); /* Blue background on hover */
    border: 2px solid var(--hover-color2);
}